body{
    background-color: #f5d9d5;
    /* background-color: green; */
}

nav{
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
}

#spacing-reset{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 700;
    font-size: 2.5em;
    margin: 0 0.25em;
}

.desertLand-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52vh;
    margin-bottom: 3em;
}

.welcome-desertland{
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    color: #ff0800;
}

.navbar-logo{
    font-weight: 700;
    color: #EB5353;
}

.navbar-element{
    font-size: 1.2em;
}

.navbar-spacing{
    margin:0 0.1em
}

.main-section-img{
    max-width: 100%;
    height: auto;
}

h2{
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.6rem;
}

.wrapper-header{
    font-weight: 600;
}

.main-section{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.section-position{
    margin-top: 4em;
}

.wrapper-section-reverse{
    display:flex;
    flex-direction: column;
}

.image-table{
    display: flex;
    justify-content: space-around;
}

.carousel-inner .carousel-image-sizing{
    height: calc(40vh + 56px);
}

.carousel-image-sizing{
    object-fit: cover;
    width: 100%;
}

.carousel-indicators{
    display: none;
}

.navbar-space-out{
    position: relative;
}

.desertLand-menu-wrapper{
    font-family: 'Roboto', sans-serif;
    margin: 4em 0 1.4em 0;
    font-weight: 700;
}


/* Pricing panel styles */
.pricing-panel{
    margin: 0 2.5%;
    padding: 1%;
}

.price-panel-wrapper{
    display: flex;
    justify-content: center;
}

.price-panel-img{
    width: 25%;
    height: auto;
    padding: calc(10%/8);
    box-sizing: border-box;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.price-panel-header{
    width: 25%;
    padding: calc(10%/8);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.65rem;
    font-weight: 700;
    border-left: 1px solid black;
}

.price-panel-description{
    font-family: 'Roboto', sans-serif;
    font-size: 0.45rem;
    font-weight: 400;
    padding: calc(10%/8);
    width: 25%;
    border-left: 1px solid black;
}

.price-panel-pricing{
    font-family: 'Roboto', sans-serif;
    border-left: 1px solid black;
    font-size: 0.5rem;
    font-weight: 700;
    width: 25%;
    padding: calc(10%/8);
    border-bottom: 1px solid black;
    text-align: left;
}

.price-panel-img:last-of-type ,.price-panel-header:last-of-type, .price-panel-description:last-of-type, .price-panel-pricing:last-of-type{
    border-right: 1px solid black;
}

.price-panel-img:first-of-type{
    border-top-left-radius: 5px;
}

.price-panel-img:last-of-type{
    border-top-right-radius: 5px;
}

@media (min-width: 560px){
    .main-section{
        font-size: 1em;
    }

    .carousel-inner .carousel-image-sizing{
        min-height: 320px;
    }

    h1{
        font-size: 3em;
    }

    .price-panel-header{
        font-size: 1.2rem;
    }

    .price-panel-description{
        font-size: 0.7rem;
    }

    .price-panel-pricing{
        font-size: 0.7rem;
    }
}

/* Bootstrap break off */
@media (min-width: 992px){
    .section-position{
        margin: 6em;
    }

    .wrapper-section-reverse{
        display:flex;
        flex-direction: row-reverse;
    }

    .candy-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        color: crimson;
    }

    .carousel-indicators{
        display: flex;
    }

    .carousel-inner .carousel-image-sizing{
        height: calc(55vh + 60.8px);
        min-height: 460px;
    }

    .desertLand-wrapper{
        height: 35vh;
    }

    h1{
        font-size: 3.6em;
    }

    .price-panel-header{
        font-size: 1.6rem;
    }

    .price-panel-description{
        font-size: 1rem;
    }

    .price-panel-pricing{
        font-size: 1rem;
    }
}

@media (min-width: 1260px){
    .main-section{
        font-size: 1.3em;
    }

    h2{
        font-size: 2rem;
    }

    .desertLand-menu-wrapper{
        margin: 6em 0 2em 0;
    }

    .price-panel-img{
        border-left: 2px solid black;
        border-top: 2px solid black;
    }

    .price-panel-header{
        font-size: 2rem;
        border-left: 2px solid black;
    }

    .price-panel-description{
        font-size: 1.2rem;
        border-left: 2px solid black;
    }

    .price-panel-pricing{
        font-size: 1.4rem;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }

    .price-panel-img:last-of-type ,.price-panel-header:last-of-type, .price-panel-description:last-of-type, .price-panel-pricing:last-of-type{
        border-right: 2px solid black;
    }
}


@media (min-width: 1920px){
    .main-section{
        font-size: 1.6em;
    }

    h2{
        font-size: 2.4rem;
    }

    .carousel-inner .carousel-image-sizing{
        min-height: 520px;
    }

    h1{
        font-size: 6em;
    }

    .price-panel-header{
        font-size: 2.2rem;
    }

    .price-panel-description{
        font-size: 1.4rem;
    }

    .price-panel-pricing{
        font-size: 1.6rem;
    }
}