body{
    background-color: #f5d9d5;
}

nav{
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
}

#spacing-reset{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 700;
    font-size: 2.5em;
}

.desertLand-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52vh;
    margin-bottom: 3em;
}

.welcome-desertland{
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    color: #ff0800;
}

.navbar-logo{
    font-weight: 700;
    color: #EB5353;
}

.navbar-element{
    font-size: 1.2em;
}

.navbar-spacing{
    margin:0 0.1em
}

.main-section-img{
    max-width: 100%;
    height: auto;
}

h2{
    text-align: center;
    padding: 0.5em 0;
    
}

.wrapper-header{
    font-weight: 600;
    font-size: 1.6rem;
}

.main-section{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

.section-position{
    margin-top: 4em;
}

.wrapper-section-reverse{
    display:flex;
    flex-direction: column;
}

.candy-logo{
    display: none;
}

.image-table{
    display: flex;
    justify-content: space-around;
}

.carousel-inner .carousel-image-sizing{
    height: calc(40vh + 56px);
}

.carousel-image-sizing{
    object-fit: cover;
    width: 100%;
}

.carousel-indicators{
    display: none;
}

.navbar-space-out{
    position: relative;
}

@media (min-width: 560px){
    .main-section{
        font-size: 1em;
    }

    .wrapper-header{
        font-size: 1.6rem;
    }

    .carousel-inner .carousel-image-sizing{
        min-height: 320px;
    }

    h1{
        font-size: 3.2em;
    }
}

/* Bootstrap break off */
@media (min-width: 992px){
    .section-position{
        margin: 6em;
    }

    .wrapper-section-reverse{
        display:flex;
        flex-direction: row-reverse;
    }

    .candy-logo{
        display: flex;
        justify-content: center;
        color: crimson;
    }

    .carousel-indicators{
        display: flex;
    }

    .carousel-inner .carousel-image-sizing{
        height: calc(55vh + 60.8px);
        min-height: 460px;
    }

    .desertLand-wrapper{
        height: 35vh;
    }

    h1{
        font-size: 3.6em;
    }
}

@media (min-width: 1260px){
    .main-section{
        font-size: 1.3em;
    }

    .wrapper-header{
        font-size: 2rem;
    }
}


@media (min-width: 1920px){
    .main-section{
        font-size: 1.6em;
    }

    .wrapper-header{
        font-size: 2.4rem;
    }

    .carousel-inner .carousel-image-sizing{
        min-height: 520px;
    }

    h1{
        font-size: 6em;
    }
}